GOOGLE_CLIENT_ID=oiuytrezjhh
GOOGLE_CLIENT_SECRET=moiuyjhtg
mongoURI=mongodb://localhost:27017/auth_Wandercult
REDIS_URL=redis://localhost:6379
SESSION_SECRET=yourStrongSecretKey

API_KEY=your_api_key_here
API_BASE_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
PORT=4000
