<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <div class="container">
        <img src="assets/images/im1.jpg" id="img3">
        <div class="texte">
            <div class="item1">
                <div class="title">Règles de confidentialité</div>
                <div class="para">Le présent document explique quelles informations nous collectons, pour quelle raison, et comment nous les utilisons. Il précise également comment les vérifier et les mettre à jour.</div>
            </div>
            <div class="item2">
                <div class="title">Conditions d’utilisation</div>
                <div class="para">Le présent document décrit les règles que vous acceptez en utilisant nos services.</div>
            </div>
            <div class="item3">
                <div class="title">Centre de sécurité Wandercult</div>
                <div class="para">
                    <img src="assets/images/logo.png" id="img4">
                    <p>Créer des produits pour tous implique de protéger chaque individu qui les utilise. Accédez à la page safety.google pour en savoir plus sur les options de sécurité intégrées, les paramètres de confidentialité et les outils qui permettent de définir des règles numériques de base pour votre famille concernant l'utilisation de produits en ligne.</p>

                </div>
            </div>
            <div class="item4">
                <div class="title">Compte Wandercult</div>
                <div class="para">
                    <img src="assets/images/im2.jpg" id="img2">
                    <p>Contrôlez, protégez et sécurisez votre compte depuis un même endroit. Votre compte Google vous donne un accès rapide aux paramètres et aux outils qui vous permettent de sécuriser vos données et de protéger leur confidentialité.</p>
                </div>
            </div>
            <div class="item5">
                <div class="title">Nos principes de confidentialité et de sécurité</div>
                <div class="para">
                    <img src="assets/images/im3.jpg" id="img1">
                    <p>Nous avons conçu nos règles de confidentialité pour répondre aux besoins de chacun. Cette responsabilité va de pair avec le fait de proposer des produits et des services accessibles pour tous. Nos employés, nos procédures et nos produits sont guidés par ces principes, afin de veiller à la sécurité et à la confidentialité des données de nos utilisateurs.</p>
                </div>
            </div>
            <div class="item6">
                <div class="title">Guide de confidentialité des produits Wandercult</div>
                <div class="para">Lorsque vous utilisez Gmail, la recherche Wandercult, YouTube et d'autres produits Wandercult, vous pouvez contrôler et protéger vos informations personnelles ainsi que votre historique d'utilisation. Le guide de confidentialité des produits Google vous permet de trouver des informations sur la gestion de certaines des fonctionnalités de confidentialité intégrées aux produits Google.</div>
            </div>
        </div>
    </div>
    
</body>
</html>