<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>condition d'utilisation</title>
    <link rel="stylesheet" href="usage_condition.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="con_utlisation">
        <img src="assets/images/logo.png">
        <div class="conditions-title">
            <h1>Conditions d'utilisation</h1>
            <div class="conditions">
                <h2>Que contiennent les présentes Conditions d'utilisation ?</h2>
                <p>Cet index est conçu pour vous aider à parcourir nos Conditions d'utilisation (Conditions). Nous espérons qu'il vous sera utile. Toutefois, veuillez vous assurer de lire l'intégralité des Conditions.</P>
                <a href="#"> Bienvenu sur Wandercult</a>
                <p>Cette section présente notre relation avec vous. Elle contient une description du Service, définit le Contrat qui nous lie et identifie l’entité qui vous fournit le Service.  </p>
                <a href="#"> Que peut utilser  ce service</a>
                <p>Cette section définit certains des critères nécessaires pour utiliser le Service, ainsi que les différentes catégories d'utilisateurs.</p>
                <a href="#"> Votre utlisation de service</a>
                <p>Cette section décrit vos droits dans le cadre de l’utilisation du Service, ainsi que les conditions qui s'appliquent à votre utilisation du Service. Elle explique également les conditions dans lesquelles nous sommes susceptibles de modifier le Service.</p>
                <a href="#">Votre Contenu et votre conduite</a>
                <p>>Cette section s'applique aux utilisateurs qui soumettent du Contenu au Service. Elle définit l’étendue des droits et autorisations  que vous octroyez en mettant en ligne votre Contenu, et indique que vous acceptez de ne pas publier quoi que ce soit qui porterait atteinte aux droits de tiers.</p>
                
                <a href="#">Suspension et clôture de compte</a>
                <p>Cette section explique comment YouTube et vous pouvez mettre un terme à la relation qui vous lie.
                </p>
               <a href="#"> À propos des logiciels de notre Service</a>
               <p> Cette section contient des informations sur les logiciels de notre Service.</p>
                
                <a href="#">Autres clauses</a>
                <p>Cette section présente l'engagement de YouTube envers vous ainsi que votre engagement envers nous. Elle décrit également les situations pour lesquelles nous ne pouvons être tenus responsables.</p>
            </div>
            <div class="services">
                <h3>Welcom to Wandercult</h3>
                <div class="intro">
                    <p class="titre"><b>Introduction</b></p>
                    <p class="description">Nous vous remercions d'utiliser la plateforme YouTube ainsi que les produits, services et fonctionnalités YouTube associés que nous mettons à votre disposition (collectivement désignés comme le "Service"). </p>
                </div>
                <div class="ser"></div>
                    <p class="titre"><b>Notre service</b></p>
                    <p class="description">Le Service vous permet de découvrir, regarder et partager des vidéos et d'autres contenus, vous offre un moyen d’informer, d’inspirer et de vous connecter aux internautes du monde entier, et sert de plateforme de distribution pour tous les créateurs de contenus originaux et annonceurs, quelle que soit leur taille.</p>
                </div>
        </div>
    </div>
</body>
</html>
